@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #141414;
    color: white
}
.card{
    border-width: 2px;
    border-style: solid;
    border-color: #1F1F1F;
    height: auto;
    width: 300px;
    text-align: center;
    background-color: #1F1F1F;
    border-radius: 10px;
    position: relative;
}
img{
    border-radius: 50%;
    height: 65px;
    width: 65px;
}
.image{
    padding-top: 30px;
}
h3{
    font-family: "Inter",sans-serif;
    font-weight: 600;
    padding-top: 15px ;
}
.add{
    padding-top: 5px;
    font-family: "Inter",sans-serif;
    font-weight: 700;
    color: hsl(75, 94%, 57%);
    font-size: 11px;
}
p{
    padding-top: 20px;
    font-family: "Inter",sans-serif;
    font-weight: 400;
    font-size: 11px;
    color: #cdc5c5;
}
.box{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.one{
    border: 2px solid #1F1F1F;
    background-color: hsl(0, 0%, 20%);
    padding: 10px;
    border-radius: 10px;
    margin: 10px 30px 10px 30px;
    font-family: "Inter",sans-serif;
    font-size: 14px;
    font-weight: bold;
}
.one:hover{
    background-color:hsl(75, 94%, 57%) ;
    color:hsl(0, 0%, 8%);
}
@media (max-width:375px) {
    .card {
        width: 90%; 
    }

    img {
        height: 50px;
        width: 50px;
    }

    h3 {
        font-size: 14px; 
    }
    p {
        font-size: 10px;
    }

}
@media (min-width:1440px){
    .card {
        width: 400px; 
    }
    img {
        height: 80px;
        width: 80px; 
    }
    h3 {
        font-size: 20px; 
    }

    p {
        font-size: 14px; 
    }
}